In [1]:
import pandas as pd
import os

In [2]:
print(os.getcwd())

/Users/timoklein/Library/CloudStorage/OneDrive-Personal/Universiteit/Studie/M_Data_Science_and_Society/year_2/Thesis/Code/timoklein

In [3]:
## Read the Moral Machine dataset into a DataFrame
df_mm = pd.read_csv('Data/SharedResponsesSurvey.csv')

/var/folders/1r/syrrrqbj2cgc7y5d1z2fgb3r0000gn/T/ipykernel_9688/1654876110.py:2: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mm = pd.read_csv('Data/SharedResponsesSurvey.csv')

In [4]:
df_mm.head(5)

,ResponseID,ExtendedSessionID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,...,Template,DescriptionShown,LeftHand,UserCountry3,Review_age,Review_education,Review_gender,Review_income,Review_political,Review_religious
0,3ubu5Minm7ygqK3oa,-2147481563_6968366610050747.0,6.968367e+15,13,0,0,0,0,Female,Gender,...,Desktop,0.0,0.0,RUS,32.0,bachelor,male,35000,0.5,0.61
1,FKd9Fje2tWt2sHi6v,-2147481563_6968366610050747.0,6.968367e+15,8,0,1,0,0,Fat,Fitness,...,Desktop,0.0,0.0,RUS,32.0,bachelor,male,35000,0.5,0.61
2,J6WRHLj8exr4bNwTm,-2147481563_6968366610050747.0,6.968367e+15,2,0,0,0,2,Young,Age,...,Desktop,0.0,1.0,RUS,32.0,bachelor,male,35000,0.5,0.61
3,KcYXwqS3rTrbqdTY2,-2147481563_6968366610050747.0,6.968367e+15,1,0,1,0,2,Pets,Species,...,Desktop,0.0,1.0,RUS,32.0,bachelor,male,35000,0.5,0.61
4,ZQsAWst58jK9HcKvx,-2147481563_6968366610050747.0,6.968367e+15,5,0,1,0,0,Fit,Fitness,...,Desktop,0.0,1.0,RUS,32.0,bachelor,male,35000,0.5,0.61

In [5]:
## Read the Technology Readiness Index dataset into a DataFrame
df_tri = pd.read_csv('Data/Technology_Readiness_Index.csv')

In [6]:
df_tri.head(5)

,Economy_Label,Category_Label,2008_Index_Value,2008_Index_Footnote,2008_Index_MissingValue,2009_Index_Value,2009_Index_Footnote,2009_Index_MissingValue,2010_Index_Value,2010_Index_Footnote,...,2018_Index_MissingValue,2019_Index_Value,2019_Index_Footnote,2019_Index_MissingValue,2020_Index_Value,2020_Index_Footnote,2020_Index_MissingValue,2021_Index_Value,2021_Index_Footnote,2021_Index_MissingValue
0,Afghanistan,Overall index,0.1,NaN,NaN,0.1,NaN,NaN,0.1,NaN,...,NaN,0.1,NaN,NaN,0.1,NaN,NaN,0.1,NaN,NaN
1,Afghanistan,ICT,0.1,NaN,NaN,0.1,NaN,NaN,0.1,NaN,...,NaN,0.2,NaN,NaN,0.1,NaN,NaN,0.1,NaN,NaN
2,Afghanistan,Skills,0.2,NaN,NaN,0.2,NaN,NaN,0.1,NaN,...,NaN,0.1,NaN,NaN,0.1,NaN,NaN,0.2,NaN,NaN
3,Afghanistan,Research and Development,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,0.1,NaN,NaN,0.1,NaN,NaN,0.1,NaN,NaN
4,Afghanistan,Industry activity,0.5,NaN,NaN,0.4,NaN,NaN,0.4,NaN,...,NaN,0.3,NaN,NaN,0.3,NaN,NaN,0.4,NaN,NaN

In [7]:
## Read the Road Traffic Deaths Sex dataset into a DataFrame
df_rtds = pd.read_csv('Data/Road_Traffic_Deaths_Sex.csv')

In [8]:
df_rtds.head(5)

,Unnamed: 0,Unnamed: 1,Estimated number of road traffic deaths,Estimated number of road traffic deaths.1,Estimated number of road traffic deaths.2,Estimated road traffic death rate (per 100 000 population),Estimated road traffic death rate (per 100 000 population).1,Estimated road traffic death rate (per 100 000 population).2
0,"Countries, territories and areas",Year,Both sexes,Male,Female,Both sexes,Male,Female
1,Afghanistan,2019,6033 [5227-6846],4853 [4204-5507],1180 [1023-1339],15.9 [13.7-18.0],24.8 [21.5-28.2],6.4 [5.5-7.2]
2,Afghanistan,2018,5295 [4578-6017],4339 [3751-4930],957 [827-1087],14.2 [12.3-16.2],22.7 [19.6-25.8],5.3 [4.6-6.0]
3,Afghanistan,2017,5490 [4737-6246],4433 [3825-5043],1057 [912-1203],15.1 [13.1-17.2],23.8 [20.5-27.0],6.0 [5.2-6.8]
4,Afghanistan,2016,5240 [4512-5970],4239 [3650-4829],1001 [862-1141],14.8 [12.8-16.9],23.3 [20.1-26.6],5.8 [5.0-6.6]

In [9]:
## Read the Road Traffic Deaths User dataset into a DataFrame
df_rtdu = pd.read_csv('Data/Road_Traffic_Deaths_User.csv')

In [10]:
df_rtdu.head(5)

,Unnamed: 0,Unnamed: 1,Distribution of road traffic deaths by type of road user (%),Distribution of road traffic deaths by type of road user (%).1,Distribution of road traffic deaths by type of road user (%).2,Distribution of road traffic deaths by type of road user (%).3,Distribution of road traffic deaths by type of road user (%).4
0,"Countries, territories and areas",Year,Drivers/passengers of 4-wheeled vehicles,Drivers/passengers of motorized 2- or 3-wheelers,Cyclists,Pedestrians,Other/unspecified road users
1,Albania,2016,39.4,11.9,7.8,38.7,2.2
2,Andorra,2013,NaN,50.0,NaN,50.0,NaN
3,Angola,2016,59.5,NaN,NaN,40.5,0.0
4,Antigua and Barbuda,2016,62.5,0.0,12.5,25.0,0.0