In [3]:
import pandas as pd
import os

In [2]:
print(os.getcwd())

/Users/timoklein/Library/CloudStorage/OneDrive-Personal/Universiteit/Studie/M_Data_Science_and_Society/year_2/Thesis/Code/DSS-Thesis-Timo-Klein

In [14]:
## Read the CSV file into a DataFrame
df_mm = pd.read_csv('../../Data/used_data/SharedResponsesSurvey.csv')

/var/folders/1r/syrrrqbj2cgc7y5d1z2fgb3r0000gn/T/ipykernel_2246/195239936.py:2: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mm = pd.read_csv('../../Data/used_data/SharedResponsesSurvey.csv')

In [15]:
df_mm.head(5)

,ResponseID,ExtendedSessionID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,...,Template,DescriptionShown,LeftHand,UserCountry3,Review_age,Review_education,Review_gender,Review_income,Review_political,Review_religious
0,3ubu5Minm7ygqK3oa,-2147481563_6968366610050747.0,6.968367e+15,13,0,0,0,0,Female,Gender,...,Desktop,0.0,0.0,RUS,32.0,bachelor,male,35000,0.5,0.61
1,FKd9Fje2tWt2sHi6v,-2147481563_6968366610050747.0,6.968367e+15,8,0,1,0,0,Fat,Fitness,...,Desktop,0.0,0.0,RUS,32.0,bachelor,male,35000,0.5,0.61
2,J6WRHLj8exr4bNwTm,-2147481563_6968366610050747.0,6.968367e+15,2,0,0,0,2,Young,Age,...,Desktop,0.0,1.0,RUS,32.0,bachelor,male,35000,0.5,0.61
3,KcYXwqS3rTrbqdTY2,-2147481563_6968366610050747.0,6.968367e+15,1,0,1,0,2,Pets,Species,...,Desktop,0.0,1.0,RUS,32.0,bachelor,male,35000,0.5,0.61
4,ZQsAWst58jK9HcKvx,-2147481563_6968366610050747.0,6.968367e+15,5,0,1,0,0,Fit,Fitness,...,Desktop,0.0,1.0,RUS,32.0,bachelor,male,35000,0.5,0.61

In [16]:
df_mm.columns

Index(['ResponseID', 'ExtendedSessionID', 'UserID', 'ScenarioOrder',
       'Intervention', 'PedPed', 'Barrier', 'CrossingSignal', 'AttributeLevel',
       'ScenarioTypeStrict', 'ScenarioType', 'DefaultChoice',
       'NonDefaultChoice', 'DefaultChoiceIsOmission', 'NumberOfCharacters',
       'DiffNumberOFCharacters', 'Saved', 'Template', 'DescriptionShown',
       'LeftHand', 'UserCountry3', 'Review_age', 'Review_education',
       'Review_gender', 'Review_income', 'Review_political',
       'Review_religious'],
      dtype='object')

In [10]:
df_tri = pd.read_csv('../../Data/used_data/Technology_Readiness_Index.csv')

In [11]:
df_tri.head(5)

,Economy_Label,Category_Label,2008_Index_Value,2008_Index_Footnote,2008_Index_MissingValue,2009_Index_Value,2009_Index_Footnote,2009_Index_MissingValue,2010_Index_Value,2010_Index_Footnote,...,2018_Index_MissingValue,2019_Index_Value,2019_Index_Footnote,2019_Index_MissingValue,2020_Index_Value,2020_Index_Footnote,2020_Index_MissingValue,2021_Index_Value,2021_Index_Footnote,2021_Index_MissingValue
0,Afghanistan,Overall index,0.1,NaN,NaN,0.1,NaN,NaN,0.1,NaN,...,NaN,0.1,NaN,NaN,0.1,NaN,NaN,0.1,NaN,NaN
1,Afghanistan,ICT,0.1,NaN,NaN,0.1,NaN,NaN,0.1,NaN,...,NaN,0.2,NaN,NaN,0.1,NaN,NaN,0.1,NaN,NaN
2,Afghanistan,Skills,0.2,NaN,NaN,0.2,NaN,NaN,0.1,NaN,...,NaN,0.1,NaN,NaN,0.1,NaN,NaN,0.2,NaN,NaN
3,Afghanistan,Research and Development,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,0.1,NaN,NaN,0.1,NaN,NaN,0.1,NaN,NaN
4,Afghanistan,Industry activity,0.5,NaN,NaN,0.4,NaN,NaN,0.4,NaN,...,NaN,0.3,NaN,NaN,0.3,NaN,NaN,0.4,NaN,NaN

In [12]:
# Number of unique values in the 'Economy_Label' column
df_tri['Economy_Label'].nunique()

167

In [4]:
df_rtds = pd.read_csv('../../Data/used_data/Road_Traffic_Deaths_Sex.csv')

In [5]:
df_rtds.head(5)

,Unnamed: 0,Unnamed: 1,Estimated number of road traffic deaths,Estimated number of road traffic deaths.1,Estimated number of road traffic deaths.2,Estimated road traffic death rate (per 100 000 population),Estimated road traffic death rate (per 100 000 population).1,Estimated road traffic death rate (per 100 000 population).2
0,"Countries, territories and areas",Year,Both sexes,Male,Female,Both sexes,Male,Female
1,Afghanistan,2019,6033 [5227-6846],4853 [4204-5507],1180 [1023-1339],15.9 [13.7-18.0],24.8 [21.5-28.2],6.4 [5.5-7.2]
2,Afghanistan,2018,5295 [4578-6017],4339 [3751-4930],957 [827-1087],14.2 [12.3-16.2],22.7 [19.6-25.8],5.3 [4.6-6.0]
3,Afghanistan,2017,5490 [4737-6246],4433 [3825-5043],1057 [912-1203],15.1 [13.1-17.2],23.8 [20.5-27.0],6.0 [5.2-6.8]
4,Afghanistan,2016,5240 [4512-5970],4239 [3650-4829],1001 [862-1141],14.8 [12.8-16.9],23.3 [20.1-26.6],5.8 [5.0-6.6]

In [6]:
# Number of unique values in the 'Unnamed: 0' column
df_rtds['Unnamed: 0'].nunique()

184

In [7]:
df_rtdu = pd.read_csv('../../Data/used_data/Road_Traffic_Deaths_User.csv')

In [8]:
df_rtdu.head(5)

,Unnamed: 0,Unnamed: 1,Distribution of road traffic deaths by type of road user (%),Distribution of road traffic deaths by type of road user (%).1,Distribution of road traffic deaths by type of road user (%).2,Distribution of road traffic deaths by type of road user (%).3,Distribution of road traffic deaths by type of road user (%).4
0,"Countries, territories and areas",Year,Drivers/passengers of 4-wheeled vehicles,Drivers/passengers of motorized 2- or 3-wheelers,Cyclists,Pedestrians,Other/unspecified road users
1,Albania,2016,39.4,11.9,7.8,38.7,2.2
2,Andorra,2013,NaN,50.0,NaN,50.0,NaN
3,Angola,2016,59.5,NaN,NaN,40.5,0.0
4,Antigua and Barbuda,2016,62.5,0.0,12.5,25.0,0.0

In [9]:
# Number of unique values in the 'Unnamed: 0' column
df_rtdu['Unnamed: 0'].nunique()

148

In [45]:
# Check how many of the values

{'Iraq', 'China', 'Uzbekistan', 'Saudi Arabia', 'Venezuela (Bolivarian Republic of)', 'Yemen', 'Vanuatu', 'Solomon Islands', 'Sao Tome and Principe', 'Malaysia', 'Niger', 'Liberia', "Lao People's Democratic Republic", 'Brunei Darussalam', 'Chad', 'Burkina Faso', 'Cabo Verde', 'Bhutan', 'Bangladesh', 'Cameroon', 'Equatorial Guinea', 'Burundi', "Democratic People's Republic of Korea", 'Mauritania', 'Central African Republic', 'Sierra Leone', 'Guinea', 'Grenada', 'Mozambique', 'Kuwait', 'Algeria', 'Haiti', 'Djibouti', 'Nepal', 'Bosnia and Herzegovina', 'Afghanistan', 'Guinea-Bissau', 'Lesotho', 'Gabon', 'Namibia', 'Gambia', 'Congo'}

In [6]:
# Scenario, session and user structure
row_count = df.shape[0]
print("Number of rows: ", row_count)
unique_responseid = df['ResponseID'].nunique()
unique_extendedsessionid = df['ExtendedSessionID'].nunique()
unique_userid = df['UserID'].nunique()
counts = df['ExtendedSessionID'].value_counts()
less_than_26 = counts[counts < 26]
num_unique_less_than_26 = len(less_than_26)
print(f"The number of unique values in 'ResponseID' (number of scenarios) is: {unique_responseid}, {unique_responseid - (row_count/2)} only have one outcome")
print(f"The number of unique values in 'ExtendedSessionID' (number of sessions) is: {unique_extendedsessionid}, {num_unique_less_than_26} have less than 26 outcomes")
print(f"The number of unique values in 'UserID' (number of users) is: {unique_userid}")

# Number of different values in the 'Template' column and their (relative) counts
print(df['Template'].value_counts(normalize=True) * 100)

# Number of different values in the 'ScenarioType' column and their (absolute) counts
print(df['ScenarioType'].value_counts(normalize=True) * 100)

Number of rows:  11286141
The number of unique values in 'ResponseID' (number of scenarios) is: 5836521, 193450.5 only have one outcome
The number of unique values in 'ExtendedSessionID' (number of sessions) is: 492845, 482834 have less than 26 outcomes
The number of unique values in 'UserID' (number of users) is: 463675
Template
Desktop    73.873266
Mobile     26.126734
Name: proportion, dtype: float64
ScenarioType
Utilitarian      18.020119
Species          17.072479
Gender           17.001542
Age              16.433784
Fitness          15.335871
Random           10.648582
Social Status     5.487624
Name: proportion, dtype: float64
The number of scenario's about Utilitarianism is 1977056
The number of scenario's where AttributeLevel is More or Less is 2033776
The number of scenario's where people save the bigger group is 802451
The number of scenario's where people kill the smaller group is 802451
The number of scenario's where people save the smaller group is 214437
The number of scenario's where people kill the bigger group is 214437

In [36]:
grouped = df.groupby(['ExtendedSessionID', 'ScenarioType']).size().reset_index(name='scenario type occurs ... times per session')
grouped.head(10)

grouped_grouped = grouped.groupby(['ScenarioType', 'scenario type occurs ... times per session']).size().reset_index(name='times scenario type occurs ... times per session')

grouped_age = grouped_grouped[grouped_grouped['ScenarioType'] == 'Age']
grouped_age

,ScenarioType,scenario type occurs ... times per session,times scenario type occurs ... times per session
0,Age,2,56162
1,Age,4,432917
2,Age,6,700
3,Age,8,49
4,Age,10,6
5,Age,12,2
6,Age,16,3
7,Age,18,2
8,Age,20,2
9,Age,22,2
10,Age,24,3
11,Age,26,1
12,Age,28,1
13,Age,34,1
14,Age,36,1
15,Age,40,1
16,Age,46,1
17,Age,48,1
18,Age,50,1
19,Age,54,1
20,Age,62,1
21,Age,70,1
22,Age,100,1
23,Age,118,1
24,Age,224,1
25,Age,610,1
26,Age,1232,1
27,Age,3054,1