In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data/cleaned_data.csv')

In [17]:
# Keep only the rows where 'ScenarioTypeStrict' is Utilitarian
df = df[df['ScenarioTypeStrict'] == 'Utilitarian']

In [18]:
df.head(10)

,ResponseID,ExtendedSessionID,UserID,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,...,ICT,Industry_activity,Overall_index,Research_and_development,Skills,Total,Males,Females,Passengers,Pedestrians
5,222t9Qtkcc4EnQvcc,1829270983_2465676825.0,2.465677e+09,1,0,0,More,Utilitarian,5,2,...,0.80,0.80,0.9,0.70,0.75,5.80,8.15,3.45,3.7294,0.8816
7,223NQzNqcbab7XWQn,-409747588_5976174606267197.0,5.976175e+15,1,0,1,More,Utilitarian,5,1,...,0.50,0.35,0.3,0.10,0.35,9.50,15.25,3.80,4.5066,3.6540
8,223XvWBRQXCSipSYc,766265324_2810740042987227.0,2.810740e+15,0,0,0,More,Utilitarian,5,4,...,0.70,0.90,0.9,0.80,0.75,5.50,8.55,2.70,2.9920,0.8855
15,225e6AAuRbMsFLmPw,800690618_8381025834549560.0,8.381026e+15,0,0,0,Less,Utilitarian,2,3,...,0.80,0.90,0.9,0.80,0.75,4.20,6.35,2.15,1.9120,0.6120
24,227gGYuJbkNkNu88M,794680652_2009488853,2.009489e+09,1,0,2,More,Utilitarian,5,3,...,0.65,0.80,1.0,1.00,0.75,12.50,17.85,7.25,3.9603,1.9737
31,229AS4ANJzqkECeWr,1306199838_2127450984180964.0,2.127451e+15,0,1,0,Less,Utilitarian,3,2,...,0.80,0.80,0.9,0.75,0.85,2.95,4.60,1.45,1.1550,0.7110
42,22Cae6oDkuos6M95r,-1320695533_5145629569646102.0,5.145630e+15,1,0,2,More,Utilitarian,5,3,...,0.80,0.85,0.9,0.80,0.55,4.15,5.75,2.60,1.3284,1.4350
43,22CkrHxN6aHCycTAW,1483952635_459994496,4.599945e+08,0,1,0,More,Utilitarian,5,2,...,0.70,0.90,0.9,0.80,0.75,5.50,8.55,2.70,2.9920,0.8855
53,22EnPHDydkozvrsmN,959039305_2158440549669984.0,2.158441e+15,1,0,2,Less,Utilitarian,2,3,...,0.45,0.70,0.7,0.60,0.55,20.35,33.90,7.15,4.6168,3.6019
56,22FZtCcW65aJee2Ai,-1187006091_411513012385513.0,4.115130e+14,0,0,0,More,Utilitarian,5,1,...,0.65,0.80,1.0,1.00,0.75,12.50,17.85,7.25,3.9603,1.9737

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1650324 entries, 5 to 9999988
Data columns (total 43 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   ResponseID                1650324 non-null  object
 1   ExtendedSessionID         1650324 non-null  object
 2   UserID                    1650324 non-null  float64
 3   PedPed                    1650324 non-null  int64
 4   Barrier                   1650324 non-null  int64
 5   CrossingSignal            1650324 non-null  int64
 6   AttributeLevel            1650324 non-null  object
 7   ScenarioTypeStrict        1650324 non-null  object
 8   NumberOfCharacters        1650324 non-null  int64
 9   DiffNumberOFCharacters    1650324 non-null  int64
 10  Saved                     1650324 non-null  int64
 11  Country                   1650324 non-null  object
 12  Man                       1650324 non-null  int64
 13  Woman                     1650324 non-null  int64
 14  Pregnant                  1650324 non-null  int64
 15  Stroller                  1650324 non-null  int64
 16  OldMan                    1650324 non-null  int64
 17  OldWoman                  1650324 non-null  int64
 18  Boy                       1650324 non-null  int64
 19  Girl                      1650324 non-null  int64
 20  Homeless                  1650324 non-null  int64
 21  LargeWoman                1650324 non-null  int64
 22  LargeMan                  1650324 non-null  int64
 23  Criminal                  1650324 non-null  int64
 24  MaleExecutive             1650324 non-null  int64
 25  FemaleExecutive           1650324 non-null  int64
 26  FemaleAthlete             1650324 non-null  int64
 27  MaleAthlete               1650324 non-null  int64
 28  FemaleDoctor              1650324 non-null  int64
 29  MaleDoctor                1650324 non-null  int64
 30  Dog                       1650324 non-null  int64
 31  Cat                       1650324 non-null  int64
 32  Finance_access            1650324 non-null  float64
 33  ICT                       1650324 non-null  float64
 34  Industry_activity         1650324 non-null  float64
 35  Overall_index             1650324 non-null  float64
 36  Research_and_development  1650324 non-null  float64
 37  Skills                    1650324 non-null  float64
 38  Total                     1650324 non-null  float64
 39  Males                     1650324 non-null  float64
 40  Females                   1650324 non-null  float64
 41  Passengers                1650324 non-null  float64
 42  Pedestrians               1650324 non-null  float64
dtypes: float64(12), int64(26), object(5)
memory usage: 554.0+ MB

In [19]:
df_less = df[df['AttributeLevel'] == "Less"]

# Keep only the rows where 'AttributeLevel' is More and the column 'ResponseID' and 'NumberOfCharacters'
df_more_less = df[df['AttributeLevel'] == "More"][['ResponseID', 'NumberOfCharacters']]

df_more_less.head()

           ResponseID  NumberOfCharacters
5   222t9Qtkcc4EnQvcc                   5
7   223NQzNqcbab7XWQn                   5
8   223XvWBRQXCSipSYc                   5
24  227gGYuJbkNkNu88M                   5
42  22Cae6oDkuos6M95r                   5

In [20]:
# Merge the df_less and df_more_less dataframes on the 'ResponseID' column
df_merged_less = pd.merge(df_less, df_more_less, on='ResponseID')

# Create a new column 'Difference' that is the difference between the 'NumberOfCharacters_x' and 'NumberOfCharacters_y' columns
df_merged_less['NumberOfLivesSaved'] = df_merged_less['NumberOfCharacters_x'] - df_merged_less['NumberOfCharacters_y']

# Delete the 'NumberOfCharacters_y' column
df_merged_less = df_merged_less.drop(columns=['NumberOfCharacters_y'])

df_merged_less.head()

,ResponseID,ExtendedSessionID,UserID,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters_x,DiffNumberOFCharacters,...,Industry_activity,Overall_index,Research_and_development,Skills,Total,Males,Females,Passengers,Pedestrians,NumberOfLivesSaved
0,225e6AAuRbMsFLmPw,800690618_8381025834549560.0,8.381026e+15,0,0,0,Less,Utilitarian,2,3,...,0.9,0.90,0.80,0.75,4.20,6.35,2.15,1.9120,0.6120,-3
1,229AS4ANJzqkECeWr,1306199838_2127450984180964.0,2.127451e+15,0,1,0,Less,Utilitarian,3,2,...,0.8,0.90,0.75,0.85,2.95,4.60,1.45,1.1550,0.7110,-2
2,22EnPHDydkozvrsmN,959039305_2158440549669984.0,2.158441e+15,1,0,2,Less,Utilitarian,2,3,...,0.7,0.70,0.60,0.55,20.35,33.90,7.15,4.6168,3.6019,-3
3,22Kp459kE4XnpkBhC,1828530624_3085943025398171.0,3.085943e+15,0,0,1,Less,Utilitarian,2,3,...,0.9,0.95,0.70,0.85,3.80,5.65,1.95,1.4440,0.3496,-3
4,22PbQ7njqmSP7Jwnr,-1145927433_4193653037.0,4.193653e+09,0,1,0,Less,Utilitarian,1,4,...,0.9,0.90,0.80,0.75,5.50,8.55,2.70,2.9920,0.8855,-4

In [21]:
df_more = df[df['AttributeLevel'] == "More"]

# Keep only the rows where 'AttributeLevel' is More and the column 'ResponseID' and 'NumberOfCharacters'
df_less_more = df[df['AttributeLevel'] == "Less"][['ResponseID', 'NumberOfCharacters']]

df_less_more.head()

           ResponseID  NumberOfCharacters
15  225e6AAuRbMsFLmPw                   2
31  229AS4ANJzqkECeWr                   3
53  22EnPHDydkozvrsmN                   2
68  22Kp459kE4XnpkBhC                   2
85  22PbQ7njqmSP7Jwnr                   1

In [24]:
# Merge the df_more and df_less_more dataframes on the 'ResponseID' column
df_merged_more = pd.merge(df_more, df_less_more, on='ResponseID')

# Create a new column 'Difference' that is the difference between the 'NumberOfCharacters_x' and 'NumberOfCharacters_y' columns
df_merged_more['NumberOfLivesSaved'] = df_merged_more['NumberOfCharacters_x'] - df_merged_more['NumberOfCharacters_y']

# Delete the 'NumberOfCharacters_y' column
df_merged_more = df_merged_more.drop(columns=['NumberOfCharacters_y'])

df_merged_more.head()

,ResponseID,ExtendedSessionID,UserID,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters_x,DiffNumberOFCharacters,...,Industry_activity,Overall_index,Research_and_development,Skills,Total,Males,Females,Passengers,Pedestrians,NumberOfLivesSaved
0,222t9Qtkcc4EnQvcc,1829270983_2465676825.0,2.465677e+09,1,0,0,More,Utilitarian,5,2,...,0.80,0.9,0.7,0.75,5.80,8.15,3.45,3.7294,0.8816,2
1,223NQzNqcbab7XWQn,-409747588_5976174606267197.0,5.976175e+15,1,0,1,More,Utilitarian,5,1,...,0.35,0.3,0.1,0.35,9.50,15.25,3.80,4.5066,3.6540,1
2,223XvWBRQXCSipSYc,766265324_2810740042987227.0,2.810740e+15,0,0,0,More,Utilitarian,5,4,...,0.90,0.9,0.8,0.75,5.50,8.55,2.70,2.9920,0.8855,4
3,227gGYuJbkNkNu88M,794680652_2009488853,2.009489e+09,1,0,2,More,Utilitarian,5,3,...,0.80,1.0,1.0,0.75,12.50,17.85,7.25,3.9603,1.9737,3
4,22Cae6oDkuos6M95r,-1320695533_5145629569646102.0,5.145630e+15,1,0,2,More,Utilitarian,5,3,...,0.85,0.9,0.8,0.55,4.15,5.75,2.60,1.3284,1.4350,3

In [25]:
# Concatenate the dataframes
utilitarian_subset = pd.concat([df_merged_less, df_merged_more], ignore_index=True)

utilitarian_subset.head()

,ResponseID,ExtendedSessionID,UserID,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters_x,DiffNumberOFCharacters,...,Industry_activity,Overall_index,Research_and_development,Skills,Total,Males,Females,Passengers,Pedestrians,NumberOfLivesSaved
0,225e6AAuRbMsFLmPw,800690618_8381025834549560.0,8.381026e+15,0,0,0,Less,Utilitarian,2,3,...,0.9,0.90,0.80,0.75,4.20,6.35,2.15,1.9120,0.6120,-3
1,229AS4ANJzqkECeWr,1306199838_2127450984180964.0,2.127451e+15,0,1,0,Less,Utilitarian,3,2,...,0.8,0.90,0.75,0.85,2.95,4.60,1.45,1.1550,0.7110,-2
2,22EnPHDydkozvrsmN,959039305_2158440549669984.0,2.158441e+15,1,0,2,Less,Utilitarian,2,3,...,0.7,0.70,0.60,0.55,20.35,33.90,7.15,4.6168,3.6019,-3
3,22Kp459kE4XnpkBhC,1828530624_3085943025398171.0,3.085943e+15,0,0,1,Less,Utilitarian,2,3,...,0.9,0.95,0.70,0.85,3.80,5.65,1.95,1.4440,0.3496,-3
4,22PbQ7njqmSP7Jwnr,-1145927433_4193653037.0,4.193653e+09,0,1,0,Less,Utilitarian,1,4,...,0.9,0.90,0.80,0.75,5.50,8.55,2.70,2.9920,0.8855,-4

In [27]:
utilitarian_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1650324 entries, 0 to 1650323
Data columns (total 44 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   ResponseID                1650324 non-null  object
 1   ExtendedSessionID         1650324 non-null  object
 2   UserID                    1650324 non-null  float64
 3   PedPed                    1650324 non-null  int64
 4   Barrier                   1650324 non-null  int64
 5   CrossingSignal            1650324 non-null  int64
 6   AttributeLevel            1650324 non-null  object
 7   ScenarioTypeStrict        1650324 non-null  object
 8   NumberOfCharacters_x      1650324 non-null  int64
 9   DiffNumberOFCharacters    1650324 non-null  int64
 10  Saved                     1650324 non-null  int64
 11  Country                   1650324 non-null  object
 12  Man                       1650324 non-null  int64
 13  Woman                     1650324 non-null  int64
 14  Pregnant                  1650324 non-null  int64
 15  Stroller                  1650324 non-null  int64
 16  OldMan                    1650324 non-null  int64
 17  OldWoman                  1650324 non-null  int64
 18  Boy                       1650324 non-null  int64
 19  Girl                      1650324 non-null  int64
 20  Homeless                  1650324 non-null  int64
 21  LargeWoman                1650324 non-null  int64
 22  LargeMan                  1650324 non-null  int64
 23  Criminal                  1650324 non-null  int64
 24  MaleExecutive             1650324 non-null  int64
 25  FemaleExecutive           1650324 non-null  int64
 26  FemaleAthlete             1650324 non-null  int64
 27  MaleAthlete               1650324 non-null  int64
 28  FemaleDoctor              1650324 non-null  int64
 29  MaleDoctor                1650324 non-null  int64
 30  Dog                       1650324 non-null  int64
 31  Cat                       1650324 non-null  int64
 32  Finance_access            1650324 non-null  float64
 33  ICT                       1650324 non-null  float64
 34  Industry_activity         1650324 non-null  float64
 35  Overall_index             1650324 non-null  float64
 36  Research_and_development  1650324 non-null  float64
 37  Skills                    1650324 non-null  float64
 38  Total                     1650324 non-null  float64
 39  Males                     1650324 non-null  float64
 40  Females                   1650324 non-null  float64
 41  Passengers                1650324 non-null  float64
 42  Pedestrians               1650324 non-null  float64
 43  NumberOfLivesSaved        1650324 non-null  int64
dtypes: float64(12), int64(27), object(5)
memory usage: 554.0+ MB

In [28]:
utilitarian_subset.to_csv('Data/utilitarian_subset.csv', index=False)